@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: rgb(20, 160, 230);
  --color-primary-foreground: rgb(255, 255, 255);
  --color-accent: rgb(202, 65, 34);
  --color-accent-foreground: rgb(255, 255, 255);
  --color-secondary: --alpha(color-mix(in oklab, var(--color-primary), var(--color-white) 50%) / 60%);
  --color-secondary-foreground: color-mix(in oklab, var(--color-primary), var(--color-white) 70%);
  --color-destructive: var(--color-rose-500);
  --color-destructive-foreground: rgb(255, 255, 255);
  --color-success: var(--color-teal-500);
  --color-success-foreground: rgb(255, 255, 255);
  --color-background: color-mix(in oklab, var(--color-primary), var(--color-black) 80%);
  --color-foreground: var(--color-white);

  --font-orbitron: "Orbitron", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

@utility container {
  max-width: 92rem;
}

@utility blur-in {
  animation: blur-in 0.3s ease-in-out;
}

body {
  @apply bg-background overflow-x-hidden bg-fixed antialiased font-orbitron text-foreground tracking-wider;
  background-image:
    repeating-linear-gradient(
      0deg,
      --alpha(var(--color-foreground) / 5%) 0,
      --alpha(var(--color-foreground) / 5%) 1px,
      transparent 1px,
      transparent 35rem
    ),
    repeating-linear-gradient(
      90deg,
      --alpha(var(--color-foreground) / 5%) 0,
      --alpha(var(--color-foreground) / 5%) 1px,
      transparent 1px,
      transparent 35rem
    );
}

p {
  @apply font-space-grotesk text-base;
  font-weight: 400;
}

.typing-container {
  width: fit-content;
  border-right: 4px solid --alpha(var(--color-foreground) / 70%);
  white-space: nowrap;
  overflow: hidden;
}

.typing-text {
  display: inline-block;
  animation:
    typing 6s steps(25) 1s infinite,
    blink 0.7s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }

  40% {
    width: 25ch;
  }

  80% {
    width: 25ch;
  }

  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blur-in {
  0% {
    filter: blur(var(--blur-xl));
  }

  100% {
    filter: blur(0px);
  }
}
